name: Documentation

on:
  push:
    branches:
      - master # update to match your development branch (master, main, dev, trunk, ...)
    tags: '*'
  pull_request:

jobs:
  build:
    permissions:
      contents: write
      statuses: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1'
      - name: Add General Registry
        shell: julia --color=yes {0}
        run: |
          using Pkg
          Pkg.Registry.add(RegistrySpec(url="https://github.com/JuliaRegistries/General"))
        env:
              JULIA_PKG_USE_CLI_GIT: 'true'
      - name: Hack OpenMDAO.jl's CondaPkg.toml to allow local version of omjlcomps
        run: |
          sed --in-place -e '/^omjlcomps/s/=.*$/= ""/' ./julia/OpenMDAO.jl/CondaPkg.toml
          cat ./julia/OpenMDAO.jl/CondaPkg.toml
      - name: Install dependencies
        shell: julia --project=docs/ --color=yes {0}
        run: |
          using Pkg
          Pkg.status()
          # Need to remove OpenMDAO.jl since the latest OpenMDAO.jl in the General registry might not be compatible with the local OpenMDAOCore.jl
          Pkg.rm("OpenMDAO")
          Pkg.develop(path="./julia/OpenMDAOCore.jl")
          Pkg.status()
          # Pkg.develop(path="./julia/OpenMDAO.jl")
          Pkg.status()
          # Pkg.add(url="https://github.com/dingraha/CondaPkg.jl", rev="pip_editable")
          using CondaPkg
          # This path in the version argument is relative to the location of the CondaPkg.toml file (aka OpenMDAO.jl/docs), not the working directory.
          CondaPkg.add_pip("omjlcomps"; version="@./../python")
          Pkg.instantiate()
          Pkg.status()
          Pkg.update()
          Pkg.status()
          Pkg.develop(path="./julia/OpenMDAO.jl")
          Pkg.instantiate()
          Pkg.status()
          Pkg.update()

      - name: Build and deploy
        env:
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }} # If authenticating with SSH deploy key
        run: julia --project=docs/ docs/make.jl

